<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">

    <style>
        body,
        .c {
            text-align: center;
        }

        .c {
            justify-content: center;
        }

        .one {
            display: flex;
            flex-direction: row;
        }

        .two {
            display: flex;
            flex-direction: row;
        }

        .three {
            display: flex;
            flex-direction: row;
        }

        .c1 {
            margin-right: 0px;
            text-align: center;
        }

        .c2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .but1 {
            background-color: white;
            opacity: .5;
            padding: 5px;
            border-radius: 50px;
        }
    </style>
</head>

<body background="img/image2.jpg">
    <%- include('header.ejs') %>
        <div class="rounded-lg px-6 py-2">
            <% if (messages && messages.error && messages.error.length> 0) { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="bg-white my-3 list-none rounded-md px-4 py-2 font-serif">
                        <%= messages.error[i] %>
                    </p>
                    <% } %>
                        <% } %>
        </div>
        <!-- breadcrumbs -->
        <div class="flex gap-2 mx-12 mt-7 bg-green-200">
            <span>--></span>
            <a href="/elections" class="text-cyan-800 hover:text-cyan-600 font-serif hover:text-indigo-900">Elections
                Created!</a>
            <span>--></span>
        </div>
        <div class="my-5 mx-10 bg-yellow-200">
            <h3 class="text-3xl my-3 font-medium">
                <%= title %>
            </h3>
            <!-- if launch show this -->
            <% if (launch) { %>
                <div class="py-8">
                    <h4 class="text-3xl my-5 font-medium">Launched your election!!</h4>
                    <h4 class="text-3xl my-5 font-medium">URL :</h4>
                    <a href="/e/<%= url %>/"
                        class="py-3 hover:text-cyan-800 text-cyan-600 font-serif hover:text-indigo-900 hover:text-white text-2xl">Click
                        Here!!!</a>
                    <!-- <a href="/e/<%= url %>/" class="py-3 hover:text-cyan-800 text-cyan-600 font-serif hover:text-indigo-900 hover:text-indigo-900">https://localhost:3000/e/<%= url %></a> -->
                </div>
                <% } %>
                    <!-- shows nuber of questions in the ballot -->
                    <div class="mt-4">
                        <h2 class="my-2 text-2xl text-black flex font-serif py-4 c">Number of questions in the ballot
                            are : <span class="text-cyan-600 font-serif text-2xl">
                                <%= nq %>
                            </span></h2>
                        <% if (!launch) { %>
                            <a href="/elections/<%= id %>/questions"
                                class="but1 py-4 hover:text-black text-cyan-600 font-serif text-2xl">Manage
                                Questions</a>
                            <% } %>
                    </div>
                    <!-- shows number of registered voters -->
                    <div class="mb-8 bt-4">
                        <h2 class="my-3 text-2xl text-black flex gap-3 font-serif py-4 c">Number of registered voters
                            for the election : <span class="text-cyan-600 font-serif text-2xl">
                                <%= nv %>
                            </span></h2>
                        <a href="/elections/<%= id %>/voters"
                            class="but1 py-4 hover:text-cyan-800 text-cyan-600 font-serif hover:text-black text-2xl">Manage
                            Voters</a>
                    </div>
                    <!-- preview and lauch the election -->
                    <% if (!launch) { %>
                        <div class="bg-cyan-800 rounded px-4 py-4 hover:bg-cyan-600 font-serif">
                            <a href="/elections/<%= id %>/preview"
                                class="text-white font-serif hover:text-indigo-900 c1">Preview & Launch election from
                                here</a>
                        </div>
                        <% } %>
                            <!-- if electionis launched preview results and end the elections -->
                            <% if (launch) { %>

                                <div class="flex c2">
                                    <div
                                        class="bg-cyan-800 rounded w-fit px-4 py-3 hover:bg-cyan-600 ease-linear transition-all duration-150">

                                        <a href="" class="text-white font-serif hover:text-indigo-900 c1">Preview
                                            results from here</a>
                                    </div>
                                    <br>
                                    <div
                                        class="bg-cyan-800 rounded w-fit px-4 py-3 hover:bg-cyan-600 ease-linear transition-all duration-150">
                                        <a href="" class="text-white font-serif hover:text-indigo-900 c1">End
                                            Election</a>
                                    </div>
                                </div>
                                <% } %>
        </div>
</body>

</html>